.dashboard {
    backdrop-filter: brightness(0.5);
    background-image: url('../../../public/companies.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) contrast(75%);
}

.title, .detail {
    text-shadow: -2px -2px 2px #e3e3e3, 2px -2px 2px #e3e3e3, -2px 2px 2px #e3e3e3, 2px 2px 2px #e3e3e3;
}
.icons {
    width: 30%;
}
.card-title {
    width: 40%;
}